.App {
  text-align: center;
}

body {
  overflow: hidden;
}
.main {
margin: 0;
padding: 0;
}
.loginContainer {
  background-image: linear-gradient(rgb(152, 255, 215),rgb(150, 197, 201));
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}
.wrapper {
  background-color: #ffffff;
  border-radius: .1rem;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 24rem;
  padding: 30px;
  overflow-y: hidden;
  margin: 20vh auto;
}

